<div class="header">
    <a href="/"><h1>Messages</h1></a>
    <div class="links">
      <% if (isMember) { %>
        <a href="/messages/new">Post new message</a>
      <% } else { %>
        <a href="/initiation">Initiate</a>
      <% }; %>
      <a href="/logout" class="button">Log Out</a>
    </div>
  </div>