<form method="POST" action="/messages/new">
  <input type="text" placeholder="Title" name="title" id="title" />
  <textarea
    placeholder="Message"
    name="message"
    id="message"
  ></textarea>
  <input type="submit" value="Create" />
</form>
