<form method="POST" action="/messages/post">
  <input type="text" placeholder="Title" name="title" id="title" />
  <input type="text" placeholder="message" name="message" id="message" />
  <input type="submit" value="Create">
</form>
