<% if (locals.currentUser) {%>
  <%- include("../partials/header.ejs") %>
  <a href="/messages/new">Post new message</a>
<% } else { %>
  <h1>Login</h1>
  <%- include("../partials/login.ejs") %> 
<% }; %>