<% if (currentUser) {%>
  <%- include("../partials/header.ejs", {isMember: isMember}) %>
  <div class="messages">
    <% messages.forEach((message) => { %>
      <%- include("../partials/message.ejs", {message: message}) %>
      <% }); %>
  </div>
  
<% } else { %>
  <%- include("../partials/login.ejs") %> 
<% }; %>