<% if (locals.currentUser) {%>
  <%- include("../partials/header.ejs") %>
  <% if (locals.isMember) { %>
    <a href="/messages/new">Post new message</a>
  <% } else { %>
    <a href="/initiation">Initiate</a>
  <% }; %>
<% } else { %>
  <%- include("../partials/login.ejs") %> 
<% }; %>