<% if (locals.currentUser) {%>
  <%- include("../partials/header.ejs") %>
  <% if (locals.isMember) { %>
    <a href="/messages/new">Post new message</a>
  <% } else { %>
    <a href="/initiation">Initiate</a>
  <% }; %>
<% } else { %>
  <div class="center_div">
    <div class="white_box_container">
      <h1>Login</h1>
      <%- include("../partials/login.ejs") %> 
    </div>
  </div>
<% }; %>