<div class="center_div">
  <div class="white_box_container">
    <a href="/"><h1>Initiation</h1></a>
    <div style="color: red">
      <% if (locals.wrong) { %>
      <p>Incorrect Password</p>
      <% }; %>
    </div>
    <form method="POST" action="/initiation/initiate">
      <input
        type="password"
        name="secret"
        id="secret"
        placeholder="The Secret"
      />
      <input type="submit" value="Initiate" />
    </form>
    <a href="/">Go back home?</a>
  </div>
</div>
