<form action="/login" method="POST" style="display: flex; flex-direction: column; max-width: fit-content;">
  <input type="text" name="username" id="username" placeholder="Username" />
  <input type="password" name="password" id="password" placeholder="Password" />
  <input type="submit" value="login" />
</form>
<a href="/sign-up">Create an account?</a>
