<div class="center_div">
  <div class="white_box_container center_children"> 
    <% if(locals.currentUser) {%> 
      <h1>You're already logged in silly! Let's go back <a href="/">home</a>.</h1>
    <% } else { %>
      <h1>Sign Up</h1>
      <ul style="color: red">
        <% errors.forEach(error => { %>
        <li><%= error %></li>
        <% }); %>
      </ul>

      <form
        action="/sign-up"
        method="POST"
        style="display: flex; flex-direction: column; max-width: fit-content"
      >
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
          value="<%= username %>"
        />
        <input type="password" name="password" id="password" placeholder="Password" />
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          placeholder="Confirm Password"
        />
        <input type="submit" value="Sign Up" />
      </form>
      <a href="/">Return to Login</a>
    <% }; %>
  </div>
</div>